    
    .red_sentence {
        color: red;
    }
    .yellow_sentence {
        color: yellow;
    }
    .Yellow_and_red_background_Sentence {
        color: yellow;
        background-color: red;
    }